body {
    background-color:rgb(231, 216, 195) ;
}

.Nav_Bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-bottom: 1px solid #000;
    word-spacing: 10%;
}

li, a, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    color:black;
    text-decoration: none;
}

.logo {
    padding-top: 20px;
}

.home_logo {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: -30px;
}

.Nav_Links {
    list-style: none;
}

.Nav_Links li {
    display: inline-block;
    padding: 0px 20x;
}

.Nav_Links li a {
    transition: all 0.3s ease 0s;
    padding: 5px;
}

.Nav_Links li a:hover {
    color:rgb(98, 124, 100)
}

button {
    padding: 9px 25px;
    background-color: rgb(108, 128, 110);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:rgb(190, 204, 191);
}

.TOC {
    background-image: url("../images/Stamp.png");
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 150px;
    padding: 6px;
    display: flex;
    text-align: center;
    margin-left: 50%;
}

.BF_Link img {
    transition: 0.3s ease;
    width: 300px;
    height: auto;
}

.BF_Link img:hover {
    content: url('../images/BreakfastBook2.png');
    cursor: pointer;
}

.L_Link img {
    transition: 0.3s ease;
    width: 300px;
    height: auto;
}

.L_Link img:hover {
    content: url('../images/LunchBook2.png');
    cursor: pointer;
}

.DN_Link img {
    transition: 0.3s ease;
    width: 300px;
    height: auto;
}

.DN_Link img:hover {
    content: url('../images/DinnerBook2.png');
    cursor: pointer;
}

.DS_Link img {
    transition: 0.3s ease;
    width: 300px;
    height: auto;
}

.DS_Link img:hover {
    content: url('../images/DessertBook2.png');
    cursor: pointer;
}

.DK_Link img {
    transition: 0.3s ease;
    width: 300px;
    height: auto;
}

.DK_Link img:hover {
    content: url('../images/DrinkBook2.png');
    cursor: pointer;
}

.TOC_Books {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.Header_Bar1 h1 {
    background-image: url("../images/BF_Banner.png");
    border-bottom: 2px black;
    padding: 12px 20px;
    margin: 0 0 25px;
    font-size: 2rem;
    font-family:Georgia;
}

.Header_Bar2 h1 {
    background-image: url("../images/L_Banner.png");
    border-bottom: 2px black;
    padding: 12px 20px;
    margin: 0 0 25px;
    font-size: 2rem;
    font-family:Georgia;
}

.Header_Bar3 h1 {
    background-image: url("../images/DN_Banner.png");
    border-bottom: 2px black;
    padding: 12px 20px;
    margin: 0 0 25px;
    font-size: 2rem;
    font-family:Georgia;
}

.Header_Bar4 h1 {
    background-image: url("../images/DS_Banner.png");
    border-bottom: 2px black;
    padding: 12px 20px;
    margin: 0 0 25px;
    font-size: 2rem;
    font-family:Georgia;
}

.Header_Bar5 h1 {
    background-image: url("../images/DK_Banner.png");
    border-bottom: 2px black;
    padding: 12px 20px;
    margin: 0 0 25px;
    font-size: 2rem;
    font-family:Georgia;
}

.paper {
    background-image:url("../images/paper.JPEG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 60px;
}

.BF_Category {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    max-width: 1200px;
    margin:0 auto 40px;
    padding:25px;
}

.L_Category {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    max-width: 1200px;
    margin:0 auto 40px;
    padding:25px;
}

.DN_Category {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    max-width: 1200px;
    margin:0 auto 40px;
    padding:25px;
}

.DS_Category {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    max-width: 1200px;
    margin:0 auto 40px;
    padding:25px;
}

.DK_Category {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    max-width: 1200px;
    margin:0 auto 40px;
    padding:25px;
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border:4px solid black;
}

.item h2 {
    font-size: 1.5rem;
    color:black;
    margin-top: 12px;
}

